<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>OCR</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
      <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- bootstrap 4.x is supported. You can also use the bootstrap css 3.3.x versions -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
      <!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
      <!-- link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" /-->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
         wish to resize images before upload. This must be loaded before fileinput.min.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/piexif.min.js" type="text/javascript"></script>
      <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/sortable.min.js" type="text/javascript"></script>
      <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for
         HTML files. This must be loaded before fileinput.min.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/plugins/purify.min.js" type="text/javascript"></script>
      <!-- popper.min.js below is needed if you use bootstrap 4.x. You can also use the bootstrap js
         3.3.x versions without popper.min.js. -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <!-- bootstrap.min.js below is needed if you wish to zoom and preview file content in a detail modal
         dialog. bootstrap 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript"></script>
      <!-- the main fileinput plugin file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/fileinput.min.js"></script>
      <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/themes/fa/theme.js"></script>
      <!-- optionally if you need translation for your language then include  locale file as mentioned below -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/locales/(lang).js"></script>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'>
      <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/style.css') }}">
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <!-- Multi step form --> 
      <section class="multi_step_form">
         <form id="msform">
            <!-- Tittle -->
            <div class="tittle">
               <h2>OCR Text Recognition </h2>
               <p>Powered by Baidu AI Platform </p>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
               <li class="active">Select Service</li>
               <li>Upload Documents</li>
               <li>OCR result</li>
            </ul>
            <!-- fieldsets -->
            <fieldset id="first_page">
               <h3>Select your service</h3>
               <from class="service_selection">
                  <div class="form-row">
                     <div class="form-group col-md-12">

                        <div class="form-check">
                           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5" checked>
                           <label class="form-check-label" for="exampleRadios5">
                           通用文字识别
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6" >
                           <label class="form-check-label" for="exampleRadios6">
                           通用文字识别（高精度版）
                           </label>
                        </div>
                     </div>
                     <div class="form-group col-md-6"> 
                     </div>
                  </div>
               </from>
               <button type="button" class="action-button previous_button">Back</button>
               <button type="button" class="next action-button">Continue</button>  
            </fieldset>
            <fieldset>
               <h3>Upload The Photo</h3>
               <h6>Allow to user ctrl+v to paste the pic and get ocr detection</h6>
               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-12">
                     <label class="file-upload btn btn-primary">
                        <div id="dropZ">
                           <i class="fa fa-cloud-upload"></i>
                           <div>Drag and drop your file here</div>
                           <span>OR</span>
                           <div class="selectFile">       
                     <label for="file">Select file</label>                   
                     <input type="file" name="files[]" id="file">
                     </div>
                     <p>File size limit : 10 MB</p>
                     </div>
                  </div>
                  </label>
               </div>
               </div>
               <!-- <ul class="file_added">
                  <li>File Added:</li>
                   <li><a href="#"><i class="ion-paperclip"></i>national_id_card.png</a></li> z
                  <li><a href="#"><i class="ion-paperclip"></i>national_id_card_back.png</a></li> 
                  </ul>-->
               <button type="button" class="action-button previous previous_button">Back</button>
               <button type="button" class="next action-button" id="go_result">Continue</button>
            </fieldset>
            <fieldset>
               <h3>OCR result</h3>
               <h6>Allow to user ctrl+v to paste the pic and get ocr detection</h6>
               <h6 id="start_message">Please upload the photo</h6>
               <div id="result_message"></div>
<canvas id="canvas" width=64 height=64></canvas>
                      <textarea id="result_area" class='autoExpand' rows='3' data-min-rows='3' style="display: block;
                                                                                                                      box-sizing: padding-box;
                                                                                                                      overflow: hidden;

                                                                                                                        background-color: #D0D0D0;
                                                                                                                      padding: 10px;
                                                                                                                      width: 550px;
                                                                                                                      font-size: 14px;
                                                                                                                      margin: 50px auto;
                                                                                                                      border-radius: 6px;
                                                                                                                      border: 0;"></textarea>


               <table class="form-group col-md-12" id="result" >
                  <tbody id="result_table">
                  </tbody>
               </table>
               <button type="button" class="action-button previous previous_button">Back</button> 
               <a href="#" class="action-button" id = "finish" onclick="location.reload();">Finish</a>
            </fieldset>
         </form>
      </section>
      <!-- End Multi step form -->
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script>
       <script type="text/javascript" src="{{ url_for('static', filename='/script.js') }}" charset="utf-8"></script>
      <script type="text/javascript">
         grant_type = "client_credentials"
         client_id = ""
         client_secret = ""
         
         
         
         // dispatch the service url, the default is bankcard
         service_url_dispatch = 'option5'
         $('.service_selection').change(function(e){
           service_url_dispatch = e.target.value
           console.log(service_url_dispatch)
         });
         
         // photo convert to base64
         async function photo2base64(raw) {
         return new Promise((resolve, reject) => {
           const curFile = raw; // get file object
             try {
                 const reader = new FileReader();
                 reader.onload = function (e) {
                     resolve(e.target.result);
                 };
         
                 reader.readAsDataURL(curFile);
             }catch{
               $("#result_table").empty();
                  $("#start_message").html("Please upload the photo");
             }
         });
         }
         // async function caller
         async function caller(raw) {
           var base64__ = await photo2base64(raw);
           return base64__
           // The 'workbook' variable is an IWorkBook...
         }
         
         // file upload handling
         const file = document.getElementsByClassName('file-upload');
           file[0].addEventListener('change', (e) => {
           console.log("service_url",service_url_dispatch)
           let p2b_Promise = caller(e.target.files[0])
           p2b_Promise.then((value) => {
             base64_photo = value
               console.log(base64_photo)
             api_caller()
         
         
           });
         })
         
         const api_caller = function(){
         
               $("#start_message").empty();
               document.getElementById("result_area").value = ""
               $("#result_table").empty();
               $('#result_message').empty();
         console.log("okoko")
         data = {
           "option":service_url_dispatch,
           "base64":base64_photo
           }
         axios.post('http://127.0.0.1:5000/', data)
           .then(function (response) {
             console.log(response)
             if (response.data.success){

                handleFiles(response.data.image)
               payload = response.data.payload
                 $("#result_area").val(`${payload}`)
                 $("#result_area")[0].dispatchEvent(new Event('input'));


                /*exclude_foreach = ["option5","option6"]
                 if (exclude_foreach.includes(service_url_dispatch)){
                     document.getElementById("result_area").value += `${payload}`;
                 }
                 else{
               payload.forEach(insert2table)
                 }*/
             }else{
                 $('table> tbody:last').append(`${response.data["payload"]["error_msg"]}`)
             }
           })
           .catch(function (error) {
             $('table> tbody:last').append(`js error: ${error}`)
           });
         }

         const insert2table = function (index, item) {
            Object.entries(index).forEach(([key, value]) => {
                   console.log(key)

                  $('table> tbody:last').append(`<tr><td>${key}</td><td>${value}</td></tr>`)
               });
         
           console.log(index,item)
         }
         
         document.addEventListener('paste', function (event) {
           var items = event.clipboardData && event.clipboardData.items;
           var file = null;
           if (items && items.length) {
               // 检索剪切板items
               for (var i = 0; i < items.length; i++) {
                   if (items[i].type.indexOf('image') !== -1) {
                        first_page = document.getElementById("first_page")
                        if (first_page.style.display !== 'none'){
                           break;
                        }
                       file = items[i].getAsFile();
                       let p2b_Promise = caller(file);
                       
                       p2b_Promise.then((value) => {
                         base64_photo = value
                         api_caller()
                         });
                       $("#go_result").click()
                   }
               }
           }
           // 此时file就是剪切板中的图片文件
         
               
         });





var textarea = document.getElementById('result_area');

var canvas=document.getElementById("canvas");
var ctx=canvas.getContext("2d");
var cw=canvas.width;
var ch=canvas.height;
var maxW=550;
var maxH=550;

function handleFiles(base) {
    fetch(base)
.then((res) => {
    var img = new Image;
  img.onload = function(e) {
    var iw=img.width;
    var ih=img.height;
    var scale=Math.min((maxW/iw),(maxH/ih));
    var iwScaled=iw*scale;
    var ihScaled=ih*scale;
    canvas.width=iwScaled;
    canvas.height=ihScaled;
    ctx.drawImage(img,0,0,iwScaled,ihScaled);
  }
  res.blob().then(function (result) {img.src = URL.createObjectURL(result);})

})
.then(console.log)

}
function makeExpandingArea(el) {
    var timer = null;
    //由于ie8有溢出堆栈问题，故调整了这里
    var setStyle = function(el, auto) {
        if (auto) el.style.height = 'auto';
        el.style.height = el.scrollHeight + 'px';
    }
    console.log(el)
    var delayedResize = function(el) {
        if (timer) {
            clearTimeout(timer);
            timer = null;
        }
        timer = setTimeout(function() {
            setStyle(el)
        }, 200);
    }
    if (el.addEventListener) {
        console.log("inpiut")
        el.addEventListener('input', function() {
            setStyle(el, 1);
        }, false);
        setStyle(el)
    } else if (el.attachEvent) {
        console.log("change")
        el.attachEvent('change', function() {
            setStyle(el)
        })
        setStyle(el)
    }
    if (window.VBArray && window.addEventListener) { //IE9
        el.attachEvent("onkeydown", function() {
        console.log("onkeydown")
            var key = window.event.keyCode;
            if (key == 8 || key == 46) delayedResize(el);

        });
        el.attachEvent("oncut", function() {
        console.log("oncut")
            delayedResize(el);
        }); //处理粘贴
    }
}

var textarea = document.getElementById('result_area');
makeExpandingArea(textarea);


/*
setInterval(function(){
   var textarea = document.getElementById('result_area');
   textarea.style.cssText = 'height:auto; padding:0';
    // for box-sizing other than "content-box" use:
    // el.style.cssText = '-moz-box-sizing:content-box';
    textarea.style.cssText = 'height:' + textarea.scrollHeight + 'px';
    }, 500);*/
      </script>
   </body>
</html>